/.ssh
/zero
/zone

/Dropbox
/.dropbox
/.dropbox-dist

# on arch
/.Xauthority
/.Xmodmap
/.Xresources
/.bashrc
/.xinitrc
/.xserverrc

# on mac
/.MacOSX
/Applications
/Documents
/Library
/Movies
/Music
/Pictures
/Public

# on windows
/Adobe
/CoreAVC.ini
/JPEXS
/LibreOffice
/Macromedia
/Microsoft
/Mozilla
/NVIDIA
/Web Data
/Web Data-journal
/clash_win
/foobar2000
/qBittorrent
/tidalab
/vlc

# for ml
/cache
/data

# transient
/.*history*
/.cache
/.lesshst
/.local
tmp

# misc
/.authinfo
/.cups
/.dbus
/.docker
/.esd_auth
/.gnupg
/.hunter
/.idea-build
/.kube
/.mh_profile
/.mozilla
/.nordvpn-config
/.nv
/.pki
/.thunderbird
/.vscode
/.wget-hsts
/Mail

/.java
/.lein-failures
/.m2
/.nrepl-port
/.oracle_jre_usage
/target

/.ipython
/.jupyter
/.keras
/.matplotlib
/.virtualenvs
/.visdom
/nltk_data
/scikit_learn_data

/.npm
/.yarn
/.yarnrc

/R

/.cargo

/.cabal
/.ghc
/.idris

/.ivy2
/.sbt

/go
