/.ssh
/Desktop
/Downloads
/jorrvaskr
/topos

/Dropbox
/.dropbox
/.dropbox-dist

# on arch
/.Xauthority
/.Xmodmap
/.Xresources
/.xinitrc
/.xserverrc

# on mac
/.MacOSX
/Applications
/Documents
/Library
/Movies
/Music
/Pictures
/Public

# for ml
/cache
/data

# transient
*history
/.cache
/.local
tmp

# misc
/.anyconnect
/.cisco
/.cups
/.dbus
/.esd_auth
/.gnupg
/.mh_profile
/.mozilla
/.nordvpn-config
/.nv
/.pki
/.thunderbird
/Mail

/.clojure
/.java
/.lein-failures
/.m2
/.nrepl-port
/.oracle_jre_usage
/target

/.ipython
/.jupyter
/.keras
/.matplotlib
/.virtualenvs
/.visdom
/nltk_data
/scikit_learn_data

/.npm

/R

/.cargo

/.cabal
/.ghc
/.idris

/.dbshell
/.mongorc.js
